@model IPost

@{
    ViewBag.Title = "Новый ответ";
    Layout = "_Layout";
}

@if (ViewBag.TextPost is not null)
{
    <form id="postForm" asp-action="Create" method="Post" enctype="multipart/form-data">
        <input asp-for="PosterId" value="@ViewBag.PosterId" type="hidden" />
        <input asp-for="ThreadId" value="@ViewBag.ThreadId" type="hidden" />
        <input asp-for="Text" value="@ViewBag.TextPost" type="hidden"/>
        <script>
        window.onload = function () {
            let form = document.getElementById('postForm');
            form.submit();
        };
        </script>
    </form>
}
else
{
    <h1>@ViewBag.Title</h1>

    <div class="container">
        <form asp-action="Create" method="Post" enctype="multipart/form-data">
            <input asp-for="PosterId" value="@ViewBag.PosterId" type="hidden"/>
            <input asp-for="ThreadId" value="@ViewBag.ThreadId" type="hidden"/>
            <div class="row">
                <div class="col-sm">
                    <div class="container">
                        @EditorHelper.BuildEditorTools()
                        @{
                            var text = ViewBag.AnswerPost as string ?? string.Empty;
                            
                            // Справа выводить пост, которому отвечают, если он есть.
                            <textarea name="textPost" id="textPost" type="text" class="row" cols="75" rows="15" 
                                placeholder="Ваш ответ..." style="resize: none" autofocus
                                oninput="countSymbols(this)">@text</textarea>
                        }
                        @EditorHelper.BuildMediafileTool()
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-auto">
                    <input type="submit" value="Отправить" class="btn btn-default"/>
                </div>
                <div class="col-sm-auto">
                    <a asp-action="Posts" asp-controller="Post" asp-route-threadId="@ViewBag.ThreadId"
                       class="btn btn-default">
                        Отмена
                    </a>
                </div>
                <div class="col-sm-auto">
                    @{
                        int length = ViewBag.AnswerPost is string ? ViewBag.AnswerPost.Length : 0;
                        
                        <div id="countOfSymbols" style="align-content: center">@(5000 - length)</div>
                    }
                </div>
            </div>
        </form>
    </div>

}