@model Post

@{
    ViewBag.Title = "Новый ответ";
    Layout = "_Layout";
}

@if (ViewBag.TextPost is not null)
{
    <form id="postForm" asp-action="Create" method="Post" enctype="multipart/form-data">
        <input asp-for="PosterId" value="@ViewBag.PosterId" type="hidden" />
        <input asp-for="ThreadId" value="@ViewBag.ThreadId" type="hidden" />
        <input asp-for="Text" value="@ViewBag.TextPost" type="hidden"/>
        <script>
            window.onload = function () {
                let form = document.getElementById('postForm');
                form.submit();
            };
        </script>
    </form>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
                      
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form asp-action="Create" method="Post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="PosterId" value="@ViewBag.PosterId" type="hidden"/>
                    <input asp-for="ThreadId" value="@ViewBag.ThreadId" type="hidden"/>
                    <div class="container">
                        @EditorHelper.BuildEditorTools()
                        <br>
                        @{
                            // Справа выводить пост, которому отвечают, если он есть.
                            <div class="row">
                                <div class="col">
                                    <textarea asp-for="Text" class="form-control bg-dark text-light" id="textPost" 
                                        type="text" rows="15" placeholder="Ваш ответ..." style="resize: none" autofocus
                                        oninput="countSymbols(this)"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto border-light">
                                    @{
                                        var length = Model.Text?.Length ?? 0;
                                
                                        <div id="countOfSymbols" style="justify-content: center">@(5000 - length)</div>
                                    }
                                </div>
                            </div>
                            <br>
                        }
                        @EditorHelper.BuildMediafileTool()
                        <br>
                        @EditorHelper.BuildCaptchaTool(ViewBag.CaptchaImage as string ?? "NULL")
                        <br>
                        <div class="row">
                            <div class="col-auto">
                                <input type="submit" value="Отправить" class="btn btn-dark"/>
                            </div>
                            <div class="col-auto">
                                <a asp-action="Posts" asp-controller="Post" asp-route-threadId="@ViewBag.ThreadId"
                                   class="btn btn-dark">Отмена</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}