@model IEnumerable<IPost>

@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>
            <h1>@ViewBag.Title</h1>
        </td>
        <td>
            <a asp-action="Remove" asp-controller="Thread" asp-route-threadId="@ViewBag.ThreadId" 
               class="btn btn-default" method="get">
                Удалить тред
            </a>
        </td>
        <td>
            <a asp-action="Create" asp-route-threadId="@ViewBag.ThreadId" 
               class="btn btn-default" method="get">
                Ответить в тред
            </a>
        </td>
    </tr>
</table>

<div class="container" style="word-wrap: break-word">
    @{
        var count = 1;
        
        foreach (var post in Model)
        {
            <div class="container">
                <div class="row">
                    <div id="post @post.Id" class="col-sm-auto">
                        Аноним
                    </div>
                    @if (post.IsOriginalPoster)
                    {
                        <div class="col-sm-auto">
                            <label>ОП</label>
                        </div>
                    }
                    <div class="col-sm-auto">
                        @post.DateOfCreation.ToString("F")
                    </div>
                    <div class="col-sm-auto">
                        ID: @post.Id
                    </div>
                    <div class="col-sm-auto">
                        @count
                    </div>
                    <div class="col-sm-auto">
                        <a asp-action="ToAnswer" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.Id">
                            Ответить
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <a asp-action="Remove" asp-route-postId="@post.Id">Удалить пост</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-auto">
                        <div class="div-post">@TextHelper.BuildText(post.Text)</div>
                    </div>
                </div>
            </div>
            
            ++count;
        }
    }
</div>
