@model IEnumerable<IPost>

@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>
            <h1>@ViewBag.Title</h1>
        </td>
        <td>
            <a asp-action="Remove" asp-controller="Thread" asp-route-threadId="@ViewBag.ThreadId" class="btn btn-default" method="get">
                Удалить тред
            </a>
        </td>
        <td>
            <a asp-action="Create" asp-controller="Post" asp-route-threadId="@ViewBag.ThreadId" class="btn btn-default" method="get">
                Ответить в тред
            </a>
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
        @{
            var count = 1;
            
            foreach (var post in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-auto">
                            Аноним
                        </div>
                        @if (post.IsOriginalPoster)
                        {
                            <div class="col-sm-auto">
                                <label>ОП</label>
                            </div>
                        }
                        <div class="col-sm-auto">
                            @post.DateOfCreation
                        </div>
                        <div class="col-sm-auto">
                            ID: @post.Id
                        </div>
                        <div class="col-sm-auto">
                            @count
                        </div>
                        <div>
                            <a asp-action="ToAnswer" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.Id">Ответить</a>
                        </div>
                        <div>
                            <a asp-action="Remove" asp-route-postId="@post.Id">Удалить пост</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-auto">
                            <div id="textPost">@post.Text</div>
                            <script src="js/createAnswer.js"></script>
                        </div>
                    </div>
                </div>
                ++count;
            }
        }
    </div>
</div>