@model IEnumerable<IPost>

@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>
            <h1>@ViewBag.Title</h1>
        </td>
        @* <td> *@
        @*     <a asp-action="Edit" asp-controller="Board" asp-route-boardId="@ViewBag.BoardId" class="btn btn-default" method="get"> *@
        @*         Редактировать доску *@
        @*     </a> *@
        @* </td> *@
        <td>
            <a asp-action="Create" asp-controller="Post" asp-route-threadId="@ViewBag.ThreadId" class="btn btn-default" method="get">
                Ответить в тред
            </a>
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
        @{
            int count = 1;
            @foreach (var post in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-auto">
                            №@count
                        </div>
                        <div class="col-sm-auto">
                            Аноним
                        </div>
                        <div class="col-sm-auto">
                            ID: @post.Id
                        </div>
                        <div class="col-sm-auto">
                            @if (post.IsOriginalPoster)
                            {
                                <label>ОП</label>
                            }
                        </div>
                        <div class="col-sm-auto">
                            @post.DateOfCreation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-auto">
                            @post.Text
                        </div>
                    </div>
                </div>
               ++count;
            }
        }
    </div>
</div>