@model IEnumerable<IPost>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <a asp-action="Remove" asp-controller="Thread" asp-route-threadId="@ViewBag.Thread.Id" 
                       class="btn btn-dark" method="get">Удалить тред</a>
                </div>
                <div class="col-auto">
                    <a asp-action="Create" asp-route-threadId="@ViewBag.Thread.Id" class="btn btn-dark" 
                       method="get">Ответить в тред</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    @{
        var count = 1;
        
        foreach (var post in Model)
        {
            if (count == 1)
            {
                var thread = ViewBag.Thread as Thread;
                
                <div class="container">
                    <div class="row">
                        <div id="post @post.Id" class="col-auto">
                            Аноним
                        </div>
                        @if (post.IsOriginalPoster)
                        {
                            <div class="col-auto">
                                <label>ОП</label>
                            </div>
                        }
                        <div class="col-auto">
                            @post.DateOfCreation.ToString("F")
                        </div>
                        <div class="col-auto">
                            ID: @post.Id
                        </div>
                        <div class="col-auto">
                            @count
                        </div>
                        <div class="col-auto">
                            <a asp-action="ToAnswer" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.Id"
                               class="btn btn-secondary">Ответить</a>
                        </div>
                    </div>
                    <div class="row">
                        @if (thread.MediaUrl is not null)
                        {
                            <div class="col-auto">
                                @TextHelper.BuildMediaFiles(thread.MediaUrl)
                            </div>
                        }
                        <div class="col text-wrap text-break" style="font-size: larger">
                            @TextHelper.BuildText(post.Text)
                        </div>
                    </div>

                    <br>
                    <hr class="straight-line">
                </div>
                <br>
            }
            else
            {
                <div class="card bg-dark text-light">
                    <div class="card-header">
                        <div class="row">
                            <div id="post @post.Id" class="col-auto">
                                Аноним
                            </div>
                            @if (post.IsOriginalPoster)
                            {
                                <div class="col-auto">
                                    <label>ОП</label>
                                </div>
                            }
                            <div class="col-auto">
                                @post.DateOfCreation.ToString("F")
                            </div>
                            <div class="col-auto">
                                ID: @post.Id
                            </div>
                            <div class="col-auto">
                                @count
                            </div>
                            <div class="col-auto">
                                <a asp-action="ToAnswer" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.Id"
                                   class="btn btn-secondary">Ответить</a>
                            </div>
                            <div class="col-auto">
                                <a asp-action="Remove" asp-route-postId="@post.Id" class="btn btn-secondary">Удалить пост</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (post.MediaUrl is not null)
                            {
                                <div class="col-auto">
                                    @TextHelper.BuildMediaFiles(post.MediaUrl)
                                </div>
                            }
                            <div class="col text-wrap text-break">
                                @TextHelper.BuildText(post.Text)
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            }
            
            ++count;
        }
    }
</div>
