@model Thread

@{
    ViewBag.Title = "Создание треда";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="col-md">
            <form asp-action="Create" method="Post" enctype="multipart/form-data">
                <input asp-for="BoardId" value="@ViewBag.BoardId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @EditorHelper.BuildEditorTools()
                    <div class="row">
                        <textarea name="textPost" id="textPost" type="text" cols="75" rows="15" 
                            placeholder="Текст треда..." style="resize: none"></textarea>
                    </div>
                    @EditorHelper.BuildMediafileTool()
                    @EditorHelper.BuildCaptchaTool(ViewBag.CaptchaImage as string ?? "NULL")
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
</div>
