@model IEnumerable<IThread>

@{
    ViewBag.Title = ViewBag.FullName;
    Layout = "_Layout";
}

<table>
    <tr>
        <td>
            <h1>@ViewBag.Name</h1>
        </td>
        <td>
            <a asp-action="Edit" asp-controller="Board" asp-route-boardId="@ViewBag.BoardId" class="btn btn-default" method="get">
                Редактировать доску
            </a>
        </td>
        <td>
            <a asp-action="Create" asp-controller="Thread" asp-route-boardId="@ViewBag.BoardId" class="btn btn-default" method="get">
                Создать новый тред
            </a>
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
        @if (!Model.Any())
        {
            <h2>@ViewBag.Message</h2>
        }
        else
        {
            foreach (var thread in Model)
            {
                <div class="col-sm">
                    <a asp-action="Posts" asp-controller="Post" asp-route-threadId="@thread.Id">@thread.Name</a>
                </div>
            }
        }
    </div>
</div>