@model IEnumerable<IUser>

@{
    ViewBag.Title = "Анонимы";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-around">
        <div class="col-auto">
            <a asp-action="Anons" class="btn btn-dark">Аноны</a>
        </div>
        <div class="col-auto">
            <a asp-action="Roles" asp-controller="Role" class="btn btn-dark">Роли</a>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col">
               <h2>@ViewBag.Message</h2> 
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <form asp-action="GeneratePasscode" method="get">
                <div class="row justify-content-end">
                        <div class="col-auto">
                            <input type="submit" class="btn btn-dark" value="Сгенерировать пасскод"/>
                        </div>
                        <div class="col-auto"> для роли </div>
                        <div class="col-auto">
                            <select asp-items="ViewBag.Roles" name="roleId" class="bg-dark text-light"></select>
                        </div>
                </div>
            </form>
            @if (ViewBag.PasscodeMessage is not null)
            {
                <div class="row justify-content-end">
                    <div class="col-auto">
                        @ViewBag.PasscodeMessage
                    </div>
                </div>
            }
        </div>
        <table class="table text-light">
            <thead>
            <tr>
                <th>№</th>
                <th>IP-адрес</th>
                <th>Роль</th>
                <th>Пасскод</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            @{
                var count = 1;
                
                foreach (var user in Model)
                {
                    <tr>
                        <th>@count</th>
                        <td>@user.IpAddress</td>
                        <td>
                            @foreach (var item in (SelectList) ViewBag.Roles)
                            {
                                if (user.RoleId != int.Parse(item.Value))
                                    continue;
                                
                                <div>
                                    @item.Text
                                </div>
                                break;
                            }
                        </td>
                        <td>@user.Passcode</td>
                        @if (user.RoleId == 5)
                        {
                            <td>Забанен</td>
                        }
                        else
                        {
                            <td>Активен</td>
                        }
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="btn-group">
                                            <a asp-action="GeneratePasscode" asp-route-userId="@user.Id"
                                               class="btn btn-dark">Сгенерировать пасскод</a>
                                            @{
                                                var removeAnon = "disabled";
                                                var banAnon = "disabled";

                                                if (user.Id != 1)
                                                {
                                                    removeAnon = string.Empty;
                                                    
                                                    if (user.RoleId == 5)
                                                        banAnon = string.Empty;
                                                }

                                                <a asp-action="Remove" asp-route-userId="@user.Id"
                                                   class="btn btn-dark @removeAnon">Удалить анонима</a>
                                                
                                                if (user.RoleId == 5)
                                                {
                                                    <a asp-action="Ban" asp-route-userId="@user.Id"
                                                       class="btn btn-dark @banAnon">Разбанить</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Ban" asp-route-userId="@user.Id"
                                                       class="btn btn-dark @banAnon" asp-route-action="true">Забанить</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    ++count;
                }

            }
            </tbody>
        </table>
    }
</div>
